<!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML//EN">
<html lang="en"> <head>
        <title>MeetMe</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Include Required Prerequisites -->
        <script type="text/javascript" src="//cdn.jsdelivr.net/jquery/1/jquery.min.js"></script>
        <script type="text/javascript" src="//cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
        <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/bootstrap/latest/css/bootstrap.css" />

        <!-- Our own style sheet -->
        <link rel="stylesheet" href="/static/css/busy.css" />

    </head>


    <body>
        <div class="container">

            <h1>MeetMe</h1>

            <h4>Current Meeting</h4>

            {% if (session.meetings is defined) and (session.meetings is not equalto []) %}
            {% for meeting in session.meetings %}
            <div class="row">  
                <div class="col-md-4">
                    <input type="checkbox" id="{{ meeting._id }}">
                    <a href="meeting_detail/{{ meeting._id }}">{{ meeting.title }}</a>
                </div>
            </div>  

            {% if loop.last %}
            <br>
            <input type="button" id="delete" value="delete selected meeting">		
            {% endif %}  
            {% endfor %}
            {% else %}  
                No meeting.     
            {% endif %}

            <br><br>
            <form action="create_meeting">
                <input type="submit" value="create new meeting">
            </form>

        </div>  <!-- end container (for bootstrap) -->
    </body> 


    <script>
        $("#delete").click( function() {
            var checked = $("input:checked");
            var ids = "";
            for (var i = 0; i < checked.length; i++) {
                ids += checked[i].id + ";";
            }
            $.getJSON("/_delete_meetings", 
                {meeting_ids: ids},
                function(data) {
                    window.location.href = "index";
                });
        });
    </script>
</html>
