<!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML//EN">
<html lang="en"> <head>
        <title>invite to a invitee </title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script type="text/javascript" src="//cdn.jsdelivr.net/jquery/1/jquery.min.js"></script>
        <script type="text/javascript" src="//cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
        <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/bootstrap/latest/css/bootstrap.css" />
        <script type="text/javascript" src="//cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.js"></script>
        <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.css" />

    </head>
    <body>
            <h4>You have been invited to a meeting!</h4>
            Title       : {{session.current_meeting.title}} <br>
            Proposer    : {{session.current_meeting.proposer_name}}<br>
            Description : {{session.current_meeting.desc}}<br>
            Time Range  :{{session.current_meeting.start_date}} {{session.current_meeting.start_time}} - {{session.current_meeting.end_date}} {{session.current_meeting.end_time}}
    <br><br>
            <input type="button" id="checkCalendar" value="check time with your Calendar">
    </body> 

    <script>
        $("#checkCalendar").click(function() {
            window.location.href = "../check_time";
        });
    </script>


</html>
