<!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML//EN">
<html lang="en"> <head>
        <title>invite to a invitee </title>
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Include Required Prerequisites -->
        <script type="text/javascript" src="//cdn.jsdelivr.net/jquery/1/jquery.min.js"></script>
        <script type="text/javascript" src="//cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
        <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/bootstrap/latest/css/bootstrap.css" />

        <!-- Include Date Range Picker -->
        <script type="text/javascript" src="//cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.js"></script>
        <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.css" />

    </head>

    <body>
        <div class="container">

            <h4>You have been invited to a meeting!</h4>

            Title: <input type="text" id="title" size=50 value="{{session.current_meeting.title}}" readonly><br><br>
            Proposer: <input type="text" id="proposer" value="{{session.current_meeting.proposer_name}}" readonly><br><br>
            Description: <textarea id="desc" rows=4 cols=50 readonly>{{session.current_meeting.desc}}</textarea><br><br>

            Date Range: <input type="text" id="daterange" size="24" value="{{session.current_meeting.start_date}} - {{session.current_meeting.end_date}}"readonly>

            <br><br>

            Between <input type="time" id="begin_time" value="{{session.current_meeting.start_time}}" readonly>  and  <input type="time" id="end_time" value="{{session.current_meeting.end_time}}" readonly>
            <br>

            <hr>

            <input type="button" id="checkCalendar" value="check time with Google Calendar">

        </div>  <!-- end container (for bootstrap) -->
    </body> 

    <script>
        $("#checkCalendar").click(function() {
            window.location.href = "../check_time";
        });
    </script>


</html>
