<!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML//EN">
<html lang="en"> <head>
        <title>Meeting Created!</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- Include Required Prerequisites -->
        <script type="text/javascript" src="//cdn.jsdelivr.net/jquery/1/jquery.min.js"></script>
        <script type="text/javascript" src="//cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
        <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/bootstrap/latest/css/bootstrap.css" />
        <!-- Include Date Range Picker -->
        <script type="text/javascript" src="//cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.js"></script>
        <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.css" />
        <!-- Our own style sheet -->

    </head>
    <body>
        <div class="container">
            <div class="row">
                <h1>Thank you, meeting has been created.</h1>
            </div>
            <div class="row">
                <h3>You can view meetings or send to the invitees.</h3>
            </div>
            <div class="row">
                <h3>click <a id="link" href="../meeting_detail/{{ session.mid }}">here</a> view your meetings</h3>
            </div>
        </div>  <!-- end container (for bootstrap) -->
    </body> 
    <script>
    </script>

</html>
