<!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML//EN">
<html lang="en"> <head>
        <title>View Meeting</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- Include Required Prerequisites -->
        <script type="text/javascript" src="//cdn.jsdelivr.net/jquery/1/jquery.min.js"></script>
        <script type="text/javascript" src="//cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
        <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/bootstrap/latest/css/bootstrap.css" />
        <!-- Include Date Range Picker -->
        <script type="text/javascript" src="//cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.js"></script>
        <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.css" />
        <!-- Our own style sheet -->
        <link rel="stylesheet" href="/static/css/busy.css" />
    </head>

    <body>
        <div class="container">

            <h1>View Meeting</h1>
            Title       : {{session.current_meeting.title}} <br>
            Proposer    : {{session.current_meeting.proposer_name}}<br>
            Description : {{session.current_meeting.desc}}<br>
            Time Range  :{{session.current_meeting.start_date}} {{session.current_meeting.start_time}} - {{session.current_meeting.end_date}} {{session.current_meeting.end_time}}
    <br><br>

            <h3>Send this link to invite people:</h3> <input type="text" size="65" id="invite_link" value="" readonly>

            <h3>below user accept this invite </h3>
            {% if session.names is defined %}
            {% for name in session.names %}
            <div class="row">
                <div class="col-md-4">
                    {{ name }}
                </div>
            </div>
            {% endfor %}
            {% else %}
            <div class="row">
                <div class="col-md-4">
                    No response so far.
                </div>
            </div>
            {% endif %}

            <h3>avaiable times utill now :</h3>
            {% if session.free_times is defined %}
            {% if session.free_times is equalto []%}
            <div class="row">
                <div class="col-md-4">
                    There are not non-conflicting times. : (
                </div>
            </div>
            {% else %}
            {% for start, end in session.free_times %}
            <div class="row">
                <div class="col-md-4">
                    {{ start | fmtdatetime }} - {{ end | fmtdatetime }}
                </div>
            </div>    
            {% endfor %}
            {% endif %}
            {% endif %}
    </body> 

    <script>
        $("#invite_link").val(window.location.href.replace("meeting_detail","invite"));

    </script>
</html>
