<!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML//EN">
<html lang="en"> <head>
<title>Response Recorded</title>
<meta name="viewport" content="width=device-width, initial-scale=1">

<!-- Include Required Prerequisites -->
<script type="text/javascript" src="//cdn.jsdelivr.net/jquery/1/jquery.min.js"></script>
<script type="text/javascript" src="//cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/bootstrap/latest/css/bootstrap.css" />

<!-- Our own style sheet -->
<link rel="stylesheet" href="/static/css/busy.css" />
</head>

<body>
<div class="container">

<div class="row">
<h1>Thank you for your submission.</h1>
</div>

<div class="row">
<h3>Your response has been recorded.</h3>
</div>

<div class="row">
<h3>Return to <a href="/index">home?</a></h3>
</div>

</div> <!--container-->

</body>
</html>